# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.eslintcache
.editorconfig

.env*
!.env.local.defaults

# runtime-env
runtime-env-alpine
runtime-env.js
runtime-env.d.ts

# unplugin-auto-import
auto-imports.d.ts

# unplugin-vue-components
components.d.ts

*storybook.log
storybook-static
